openai==1.55.1
langchain-community==0.3.8
langchain-openai==0.2.9
# langchain==0.0.354
google==3.0.0
google-ai-generativelanguage==0.6.10
google-generativeai==0.8.3
tiktoken==0.8.0
faiss-cpu
Jinja2==3.1.4
langgraph==0.2.53